.easy_use {
	grid-column: 2 / 14;
	margin-top: 10rem;
}

.easy_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 32rem;
	grid-template-areas: "image_area text_area";
}

.img_wrapper {
	grid-area: image_area;
}
.text_wrapper {
	grid-area: text_area;
}

.easy_img {
	margin-left: -5rem;
}
.easy_title {
	font-size: var(--fs-700);
	font-family: "DM Serif Display";
	color: #36536b;
	letter-spacing: -0.37px;
	line-height: 56px;
	margin-top: 10rem;
	margin-bottom: 2.4rem;
}

.easy_text {
	max-width: 45.5rem;
	line-height: 25px;
}

.simple_container {
	// background-color: bisque;
	position: relative;
	padding-top: 10rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	// overflow: hidden;
	grid-template-areas:
		"text_simple image_simple"
		"text_simple image_simple";
}

.bg_feature_image {
	// background-image: url("../../../../assets/shared/desktop/bg-pattern-circle.svg");
	background-size: 100%;
	width: 78rem;
	height: 78rem;
	background-repeat: no-repeat;
	position: absolute;
	// bottom: 52rem;

	right: -48rem;
	z-index: 0;
}

.simple_context {
	margin-top: 18rem;
	grid-area: text_simple;
}
.simple_title {
	font-size: var(--fs-700);
	font-family: "DM Serif Display";
	color: #36536b;
	letter-spacing: -0.37px;
	line-height: 56px;
	margin-bottom: 2.4rem;
}

.image_simple {
	margin-left: -6rem;
	grid-area: image_simple;
}

.simple_text {
	max-width: 45rem;
}

.features_container {
	margin-top: 6rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.single_features_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 35rem;
	text-align: center;
}

.single_feature_title {
	font-size: var(--fs-600);
	font-weight: 700;
	letter-spacing: -0.14px;
	line-height: 25px;
	margin: 3.2rem 0 1.6rem 0;
}

.img_feature_single {
	width: 10.6rem;
	height: 10.6rem;
}

@media (max-width: 64em) {
	.easy_container {
		justify-items: center;
		grid-template-columns: 1fr;

		grid-template-areas: "image_area" "text_area";
	}

	.easy_img {
		margin-left: 0;
		height: 25rem;
	}

	.easy_title {
		margin-top: 0;
		margin-bottom: 2.4rem;
	}

	.simple_container {
		padding-top: 10rem;
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		grid-template-areas:
			"image_simple"
			"text_simple";
	}
	.image_simple {
		margin-left: unset;
		width: 38rem;
		height: 32rem;
	}
	.simple_context {
		margin-top: unset;
		text-align: center;
		grid-area: text_simple;
	}

	.simple_text {
		width: 57rem;
	}
}

@media (max-width: 30em) {
	.easy_title {
		font-size: var(--fs-900-s);
		text-align: center;
		letter-spacing: -0.28px;
		line-height: 36px;
		margin-top: 0rem;
		margin-bottom: 2.4rem;
	}

	.simple_image {
		margin-top: 2rem;
	}
	.image_simple {
		margin-left: unset;
		width: 32rem;
		height: 29rem;
		margin: 0;
	}
	.simple_title {
		font-size: var(--fs-900-s);
		letter-spacing: -0.28px;
		line-height: 36px;
	}
	.simple_text {
		width: 100%;
	}

	.features_container {
		justify-items: center;
		margin-top: 6rem;
		grid-template-columns: 1fr;
		gap: 4.8rem 0;
	}
}
