.singleContainer {
	position: relative;
	height: 56rem;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($color: #000, $alpha: 0.25);
}

.cardImage {
	// position: absolute;
	height: 100%;
	width: 100%;
}

.textContainer {
	position: absolute;
	left: 4rem;

	bottom: 4rem;
	color: #fff;
}

.title {
	font-size: var(--fs-600);
	font-weight: 700;
	line-height: 4rem;
}

.textTime {
	color: rgba($color: #fff, $alpha: 0.75);
}

@media (max-width: 64em) {
	.singleContainer {
		height: 24rem;
	}
}
