.footer {
	grid-column: 2 / 14;
	height: 20rem;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 12.6rem;
	margin-top: 20rem;
}

.ftWrapper {
	background-color: var(--clr-grey-200);
	height: 100%;
	display: flex;
	align-items: center;
}

.footerContainer {
	height: 100%;

	width: 20rem;
	background-color: var(--clr-blue-600);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.link_container {
	display: flex;
	gap: 6rem;
	margin-left: 8.5rem;
}

.link {
	color: var(--clr-grey-400);
}

.btnWrapper {
	width: 25.2rem;
	margin-left: auto;
	transform: translateX(12rem);
}

@media (max-width: 64em) {
	.footer {
		grid-column: 1 / -1;
		height: 12rem;
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: 1fr 1fr;
		margin-top: 20rem;
	}

	.footerContainer {
		height: 100%;

		width: 12rem;
	}

	.logoWrapper {
		// width: 1r/;
	}

	.link_container {
		display: flex;
		gap: 6rem;
		margin-left: 4rem;
		background-color: red;
		width: 60%;
	}

	.link {
	}

	.btnWrapper {
		width: 25.2rem;
		margin-left: auto;
		transform: translateX(6rem);
	}
}
