.labelContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(90deg);
}

.line {
	width: 10.4rem;
	height: 1px;
	background-color: var(--clr-grey-300);
	margin-right: 4.8rem;
}

.pageText {
	color: var(--clr-grey-300);
	text-transform: uppercase;
	letter-spacing: 1.8rem;
	font-weight: 700;
}
