.navigation {
	grid-column: 2 / 14;
	// height: 16.2rem;
	// display: grid;
	// grid-template-columns: [full-start] minmax(14rem, auto) [col-start] repeat(12, minmax(6.5rem, 12rem)) minmax(14rem, auto) [full-end];
	// grid-template-rows: max-content;
	// grid-column-gap: 3rem;
	z-index: 1;
	margin-top: 4rem;
	display: flex;
}

.menu_modal {
	display: none;
}
.logo_wrapper {
	margin-right: 6.4rem;
}

.link_container {
	display: flex;
	align-items: center;
	gap: 3.5rem;
}

.btn_cta {
	width: 17.3rem;
	height: 4.8rem;
	letter-spacing: -0.12px;
	background-color: var(--clr-pink-400);
	border-radius: 2.4rem;
	margin-left: auto;
}

.link {
	color: rgba(54, 83, 107, 0.632);
	transition: var(--transition);
}

.link:hover {
	color: #36536b;
}

.hamburger_menu {
	display: none;
}

// / 760px 1024px
@media (max-width: 64em) {
}

// 375 -480px
@media (max-width: 30em) {
	.link_container {
		display: none;
	}
	.btn_cta {
		display: none;
	}
	.hamburger_menu {
		align-self: center;
		margin-left: auto;
		display: block;
		margin-right: 2rem;
		cursor: pointer;
	}

	.line_1 {
		width: 2rem;
		height: 1px;
		background-color: #000;
	}
	.line_2 {
		margin-top: 0.5rem;
		width: 2rem;
		height: 1px;
		background-color: #000;
	}

	.close_icon {
		margin-top: 0.5rem;
		font-size: 2rem;
	}

	.menu_modal {
		display: block;
		position: absolute;
		z-index: 5;
		height: 25.6rem;
		background-color: #36536b;
		top: 10rem;
		left: 0;
		right: 0;
	}

	.list_modal {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem 0;
		margin-top: 3.2rem;
		// background-color: gainsboro;
	}

	.span_text {
		font-size: var(--fs-700-s);
		margin-bottom: 2rem;
	}
	.modal_line {
		width: 90%;
		height: 1px;
		background-color: var(--clr-grey-400);
		margin: 1.2rem auto;
	}

	.link_cta {
		display: flex;
		width: 90%;
		margin: 0 auto;
		margin-top: 2.5rem;
	}

	.link {
		color: #fff;
		transition: var(--transition);
	}

	.link:hover {
		color: #9fadb8;
	}
}
