.formSection {
	grid-column: 2 / 14;
	display: grid;
	margin-top: 16.5rem;
	grid-template-columns: minmax(38rem, 1fr) 1fr;
}

.formTitle {
	font-size: var(--fs-700);
	line-height: 64px;
	font-weight: 700;
	width: 25rem;
}

.formContainer {
	color: var(--clr-grey-300);
}

.input {
	width: 100%;
	padding: 0 0 2.2rem 3.4rem;
	border: none;
	border-bottom: 1px solid #1b1d23;
	margin-bottom: 4.3rem;
}

.textarea {
	width: 100%;
	padding: 0 0 6.9rem 3.4rem;
	border: none;
	border-bottom: 1px solid #1b1d23;
	resize: none;
}

.btnWrapper {
	width: 8rem;
	height: 8rem;
	background-color: #1b1d23;
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
	cursor: pointer;
}

.btnIcon {
	font-size: 2.2rem;
}
