.hero {
	grid-column: 2 / 14;
	margin-top: 6.3rem;
	position: relative;
	height: 72rem;
	width: 100%;
}

.bgDefault {
	background-image: url("../../../../assets/home/desktop/image-hero-paramour.jpg");
}

.bg02 {
	background-image: url("../../../../assets/home/desktop/image-hero-seraph.jpg");
}

.bg03 {
	background-image: url("../../../../assets/home/desktop/image-hero-federal.jpg");
}
.bg04 {
	background-image: url("../../../../assets/home/desktop/image-hero-trinity.jpg");
}

.backgroundImage {
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.textContainer {
	margin: 18.6rem 0 0 19rem;
	color: #fff;
}

.heroTitle {
	font-size: var(--fs-800);

	letter-spacing: -2px;
	line-height: 80px;
	width: 4rem;
}

.heroText {
	font-weight: 500;
	width: 45rem;
	margin: 1rem 0 4.1rem 0;
}

.heroButtonsContainer {
	width: 32rem;
	position: absolute;
	bottom: 0;
	left: -8rem;
	background-color: #fff;
	display: flex;
}

.btnHeroGeneral {
	width: 8rem;
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.btnActive {
	background-color: var(--clr-blue-600);
	color: #fff;
}

.btnWrapper {
	width: 25.2rem;
}

@media (max-width: 64em) {
	.hero {
		grid-column: 3 / 13;
	}
	.heroButtonsContainer {
		display: none;
	}

	.bgDefault {
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url("../../../../assets/home/tablet/image-hero-paramour.jpg");
	}

	.textContainer {
		margin: 18.6rem 0 0 5.8rem;
		color: #fff;
	}
}

@media (max-width: 30em) {
	.hero {
		grid-column: full-start / full-end;
		margin-top: 3.2rem;
	}
	.bgDefault {
		background-image: url("../../../../assets/home/mobile/image-hero-paramour.jpg");
	}
	.textContainer {
		margin: 11.6rem 0 0 3.2rem;
		color: #fff;
	}

	.heroTitle {
		font-size: var(--fs-800-s);

		letter-spacing: -1.2px;
		line-height: 48px;
		width: 26rem;
		font-weight: 700;
	}

	.heroText {
		width: 30rem;
		margin: 1rem 0 8rem 0;
	}

	.bgModal {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background-color: rgba($color: #000000, $alpha: 0.35);
	}
}
